/* CSS styles for video streaming platform */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: 1920px 1080px;
  background-image: linear-gradient(to bottom, #000000, #772020);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Main content styles */
main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#video-player {
  flex-basis: 70%;
}

#video-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#video-list ul li a {
  text-decoration: none;
  color: white;
}

#video-list ul li img {
  width: 160px;
  height: 90px;
  margin-right: 10px;
  object-fit: cover;
}

#video-list ul li span {
  font-size: 16px;
}

/* Video player styles */
video {
  width: 100%;
}

/* Video list styles */
#video-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#video-list ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#video-list ul li img {
  width: 160px;
  height: 90px;
  margin-right: 10px;
  object-fit: cover;
}

#video-list ul li span {
  font-size: 16px;
}
.text-1 {
      text-align: right;
    }
#video-list ul li a.active {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
